@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            @Html.ValidationSummary()
        </div>
        <div class="col-lg-10">
            <form method="post" asp-action="ChangePassword" asp-controller="Logins">
                <input type="hidden" asp-for="EmailAddress"/>
                <input type="hidden" asp-for="Token"/>
                <div class="form-group">
                    Email Address: @Model.EmailAddress
                    <div class="form-control">
                        <label for="password" asp-for="Password">New Password:</label>
                        <input type="text" asp-for="Password" id="password"/>
                    </div>
                    <input type="submit" value="Reset Password"/>
                </div>
            </form>
        </div>
    </div>
</div>
